/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */


.section {
    background-color: #2985d1;   /*#1a1a1a;*/
    color:#e6e6e6;
    margin:1em 4em 1em 4em;  /* Control padding for content here, defaults to top, bottom, and sides. */
	float:none;
	border-radius: 2em;
    padding:1em;
<<<<<<< HEAD
    text-align:center; 
}

.checklist {
	   background-color: #2985d1;   
    color:#e6e6e6;
    margin:1em 4em 1em 4em;  
	float:none;
	border-radius: 2em;
    padding:1em;
    display: inline-block;
	text-align: left;
	border-style: solid;
	border-color: blue;
=======
>>>>>>> 9e3afbd09efc5d334a98a8affe330e3bdeaa7521
}

.quote {
		margin: 1em; 
		padding: 1.5em;
		border-radius: 1em 4em; 
		background-color:#2985d1;
		text-align: center;
}

.link {
	display: inline-flex;
	padding: 0.5em;
	border-radius: 1em; 
<<<<<<< HEAD
	background-color: #a6cded;
=======
	background-color: #262626;
>>>>>>> 9e3afbd09efc5d334a98a8affe330e3bdeaa7521
	font: bold;
	font-size: 1.25em;
	margin-bottom: 0;
}
.link:hover {
    color: #ffffff;
<<<<<<< HEAD
    background-color: #cfe2f3;
=======
    background-color: #000440;
>>>>>>> 9e3afbd09efc5d334a98a8affe330e3bdeaa7521
    text-decoration: none;
}

#title {
	margin-left: 1em;
}

#date {
	text-align:right; 
	margin-right: 2em;
}

p {
	text-indent: 0;  /* Fiddle here to change universal indentation  */
	margin: 2em;
}

h3 {
	margin-left: 2em;
}

html, body, #container {
	height: 100%;
	margin: 0;
	padding: 0;
}
body > #container { height: auto; min-height: 100%}

#container {
padding-bottom: 3em;
background-color: #2985d1;
<<<<<<< HEAD
text-align:center; /*added here 2023, march25 */
=======
>>>>>>> 9e3afbd09efc5d334a98a8affe330e3bdeaa7521
}

#header {
    background-color:#2985d1;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#a6cded;
	color:#e6e6e6;
    height:80px;
    padding:5px;	
	text-align:center;
	font-size: 130%;
}	
#footer {
    background-color:#2985d1;
    color:white;
	text-align:center;
    clear:both;
	/* added in below here */
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
   /*padding:5px;	not used? */	 
}
/* Link colors */
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black; /*  e6e6e6   */
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #1a1a1a;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
